@model HotelsA.Models.UserRol

@{
    ViewBag.Title = "Delete";
}


<div class="page col-md-6">
    <h4>Vəzifəni silməyə əminsiniz ?</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Geriyə qayıt", "Index")
        </div>
    }
</div>
