@{
    ViewBag.Title = "Home Page";
}


<div class="page">
    
    <div class="row m-0">
        <div class="col-12 p-0 text-right">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Otaq Nömrəsi</th>
                        <th class="text-center">Yataq Sayı</th>
                        <th class="text-center">Böyük(nəfər)</th>
                        <th class="text-center">Uşaq(nəfər)</th>
                        <th class="text-center">Qiymət</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                
            </table>
        </div>
    </div>
</div>